.forgetPassword {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 255, 255);
  
  }
.forgetPasswordForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding: 30px 20px;
  background: white;
}
#forgetPasswordForm {
  box-shadow: 5px 10px 18px #929090; /*right down intensity  */
  margin-top: 20px;
  margin-bottom: 20px;
}
.forgetPasswordHeader,
.forgetPasswordText {
  text-align: center;
}
